# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/original/node_modules
/refactored/node_modules

# testing
/original/coverage
/refactored/coverage

# production
/original/build
/refactored/build

# npmjs
/original/dist
/refactored/dist

# misc
/original/.DS_Store
/refactored/.DS_Store
/original/.env.local
/refactored/.env.local
/original/.env.development.local
/refactored/.env.development.local
/original/.env.test.local
/refactored/.env.test.local
/original/.env.production.local
/refactored/.env.production.local

/original/npm-debug.log*
/refactored/npm-debug.log*
/original/yarn-debug.log*
/refactored/yarn-debug.log*
/original/yarn-error.log*
/refactored/yarn-error.log*
